<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="while_.WhilePackage" genModel="model/While.genmodel" uri="platform:/plugin/org.wbsilva.mm.while/model/While.ecore"/>
  </extension>
</plugin>
