#.settings
#.classpath
#.project

*.aux
*.log
*.out
*.bbl
*.blg
*.idx
*.toc
#*.pdf
*.gz
*.lof
*.lot
*.*~
*.nav
*.snm
*.auxlock

Papers/*.pdf
Papers/*/*.pdf
Submissions/FTSCS2018/published
/.metadata/
