<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.wbsilva.bx.statemachine2while.Statemachine2whilePackage" genModel="model/Statemachine2while.genmodel" uri="platform:/plugin/org.wbsilva.bx.statemachine2while/model/Statemachine2while.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.wbsilva.bx.statemachine2while.Rules.RulesPackage" genModel="model/Statemachine2while.genmodel" uri="platform:/plugin/org.wbsilva.bx.statemachine2while/model/Statemachine2while.ecore#//Rules"/>
  </extension>
</plugin>
