<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.wbsilva.bx.star2wheel.Star2wheelPackage" genModel="model/Star2wheel.genmodel" uri="platform:/plugin/org.wbsilva.bx.star2wheel/model/Star2wheel.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.wbsilva.bx.star2wheel.Rules.RulesPackage" genModel="model/Star2wheel.genmodel" uri="platform:/plugin/org.wbsilva.bx.star2wheel/model/Star2wheel.ecore#//Rules"/>
  </extension>
</plugin>
